build: false

environment:
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"

    matrix:
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python36/python.exe
          CONAN_OPTIONS: boost_python:python_version=3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python27-x64/python.exe
          CONAN_OPTIONS: boost_python:python_version=3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python36/python.exe
          CONAN_OPTIONS: boost_python:python_version=3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python27-x64/python.exe
          CONAN_OPTIONS: boost_python:python_version=3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python36/python.exe
          CONAN_OPTIONS: boost_python:python_version=3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python27-x64/python.exe
          CONAN_OPTIONS: boost_python:python_version=3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python36/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python36-x64/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python36/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python36-x64/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python36/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python36-x64/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6

install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade
  - pip.exe install conan_package_tools bincrafters_package_tools
  - conan user # It creates the conan data directory
  
test_script:
  - python build.py

