build: false

environment:
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"

    matrix:
        # TODO: add MINGW support
        # - MINGW_CONFIGURATIONS: '4.9@x86_64@seh@posix, 4.9@x86_64@sjlj@posix, 4.9@x86@sjlj@posix, 4.9@x86@dwarf2@posix, 6.3@x86_64@seh@posix, 7.1@x86_64@seh@posix'
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python27/python.exe
          CONAN_BOOST_PYTHON_VERSION: 2.7
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python27-x64/python.exe
          CONAN_BOOST_PYTHON_VERSION: 2.7
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python27/python.exe
          CONAN_BOOST_PYTHON_VERSION: 2.7
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python27-x64/python.exe
          CONAN_BOOST_PYTHON_VERSION: 2.7
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python27/python.exe
          CONAN_BOOST_PYTHON_VERSION: 2.7
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python27-x64/python.exe
          CONAN_BOOST_PYTHON_VERSION: 2.7
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python36/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python36-x64/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python36/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python36-x64/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86
          CONAN_PYTHON_PATH: C:/Python36/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86_64
          CONAN_PYTHON_PATH: C:/Python36-x64/python.exe
          CONAN_BOOST_PYTHON_VERSION: 3.6
          CONAN_BUILD_REQUIRES: python_dev_config/0.4@bincrafters/stable

install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade
  - pip.exe install conan_package_tools bincrafters_package_tools
  - conan user # It creates the conan data directory
  
test_script:
  - python build.py

