build: false

environment:
    PYTHON: "C:\\Python36"

    matrix:
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86_64
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36-x64/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86_64
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36-x64/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86_64
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36-x64/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 12
          CONAN_ARCHS: x86_64
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36-x64/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
          CONAN_ARCHS: x86_64
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36-x64/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36/python.exe
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_ARCHS: x86_64
          CONAN_OPTIONS: boost_python:python_version=3.6,python_dev_config:python=C:/Python36-x64/python.exe

install:
  - set PATH=%PYTHON%;%PYTHON%/Scripts/;%PATH%
  - pip.exe install conan --upgrade
  - pip.exe install conan_package_tools bincrafters_package_tools
  - conan user # It creates the conan data directory
  
test_script:
  - python build.py

